body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(184, 131, 112);
}

.btn-1 {
    border-radius: 15px;
    background-color: #f5d469;
    box-shadow: 10px 10px 15px #be7c00;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
}

.btn-2 {
    border-radius: 15px;
    background-color: #f5d469;
    box-shadow: 10px 10px 15px #be7c00;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
}